google-api-python-client
google-auth-httplib2
google-auth-oauthlib
keyboard
pyperclip
anthropic
pillow
psutil
winrt-Windows.Media.Ocr
winrt-Windows.Graphics.Imaging
winrt-Windows.Storage.Streams
winrt-Windows.Globalization
winrt-Windows.Foundation
